body {
    margin: 0px;
}

header {
    background: lightcyan;
    height:80px;
    display:flex;
    justify-content: center;
    align-items:center;
}

h1 {
    margin: 0px 0px 20px 0px;
}

section.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

input#input_pigLatin {
    width: 400px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px 15px;
}



button#submit {
    background: black;
    border: 1px solid black;
    color: white;
    transition: .3s;
}

button#submit:hover {
    background: white;
    border: 1px solid black;
    color: black;
}

button#reset {
    background: red;
    border: 1px solid red;
    color: white;
    transition:.3s;
}

button#reset:hover {
    background: white;
    border: 1px solid red;
    color: red;
}

section.output {
    display: flex;
    justify-content: center;
    font-size: 2em;
}
